html, body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  background-image: linear-gradient(328deg, #3555cb, #60b8b7, #6eb6a2, #6ae887)
}

canvas {
  display: block;
}

#refreshButton{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  background-color: #18baa7df;
  color: #fffbef;
  border-radius: 25%;
  border-width: 0.8mm;
  border-color: #0075be;
  
  font-family: "Comic Sans MS", cursive, sans-serif;
  
}

#borderHint{
  position: relaxtive;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  background-color: #0fcbd4df;
  color: #fffbef;
  border-radius: 25%;
  border-width: 0.8mm;
  border-color: #0075be;
  
  font-family: "Comic Sans MS", cursive, sans-serif;
  
}

#canvasContainer{
  /* position: absolute; */
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  margin:2%;

}

#back-container{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.middle-body{
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-top: 70px;
  position:relative;
  z-index: 2;
  padding-bottom: 100px;
}
.instruction{
  width: 400px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 140px;
  padding-bottom: 20px;
  padding-left: 30px;
  /* padding-right: 0px; */
  border-radius: 25%;
  border-style: inset;
  border-width: 1mm;
  border-color:#fffae2c8;
  background-color: #c5f3fa80;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:#fef7d0d4
}

.img01{
  position: fixed;
  left: 80%;
  top:90%;
  transform: translate(-50%,-70%);
  opacity: 0.8;
  z-index: 10;
}
.img02{
  position: fixed;
  right: 72%;
  top:30%;
  transform: translate(10%,-70%);
  opacity: 0.8;
  z-index: 10;
}
.img03{
  position: fixed;
  left: 80%;
  top:40%;
  transform: translate(-40%,-70%);
  opacity: 0.8;
  z-index: 10;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  filter: brightness(0%);
}

.img04{

  position: fixed;
  left: 50%;
  top:100%;
  transform: translate(-50%,-70%);
  opacity: 0.5;
  z-index: 1;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  /* filter: brightness(0%); */
}
.img05{
  position: fixed;
  left: 20%;
  top:73%;
  transform: translate(-50%,-60%);

  opacity: 0.7;
  z-index: 11;

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  filter: brightness(20%);
  /* transform: rotate(-1deg); */
}
.img06{
  position: fixed;
  left: 20%;
  top: 68%;
  transform: translate(-88%,-30%);
  opacity: 0.7;
  z-index: 10;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  filter: brightness(0%);
}
.img07{
  position: fixed;
  left: 100%;
  top: 58%;
  transform: translate(-56%,-30%);
  opacity: 0.5;
  z-index: 10;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  filter: brightness(0%);
}
.img08{
  position: fixed;
  left: 52%;
  top:0%;
  transform: translate(-50%,-12%);
  opacity: 0.5;
  z-index: 10;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  filter: brightness(0%);
}
.introduction{
  color: #fff1ced2 ;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 25px;
  border-radius: 10%;
  background-color: #e6ffb833;
}

img{
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 
.navigation-bar{
	list-style-type:none;
	margin:0;
	padding:0;
  padding-left: 20px;
	padding-top:10px;
	padding-bottom:6px;
  position: fixed;
  z-index: 13;
  color: #fdfdfd;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.xiaohei{
  position: fixed;
  top: 2px;
  right: 20%;
  z-index: 3;
  /* width: 80px;
  height: 80px; */
}

li{
  padding: 6px;
	display:inline;
}


a:link,a:visited
{
	font-weight:bold;
	color:#FFFFFF;
	/* background-color:#21bf85; */
	/* text-align:center; */
	padding: 1px;
	text-decoration:none;
	text-transform:uppercase;
  border-style: outset;
  border-color: aliceblues;

  /* border-top-left-radius: 15%; */
  border-radius:20% ;
  
	background-color:#82d9fc;
}
a:hover,a:active
{
  border-style: inset;
  border-color: aliceblues;
	background-color:#69b5d3;
}

